@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		background-color: #fbeae2;
		color: #170c09;
		font-weight: bold;
		border: 1px solid #2e1913;
		border-radius: 40px;
		padding: 0.5em;
	}
}
